@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');





p{
    color: blue;
    font-family: "Bitcount Single", system-ui;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px;

    position: relative;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 20px;

    position: relative;
    top: 50px;
    left: 50px;

}
